html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	white-space:nowrap;
	overflow: hidden;
}

#titleBox {
	padding: 0;
	height: 80px;
	margin-left: auto;
	margin-right: auto;
	background-color: green;
	text-align: center;
	border: none;
}

#titleBox p {
	font-size: 150%;
	color: white;
	padding: 0;
	margin: 0;
}

.PageContent {
	display: table;
	width: 100%;
	height: 80%;
	/*height: 93%;*/
}

.CreaturesBox {
	min-width: 300px;
	display: table-cell;
	background: white;
	height: inherit;
	border: solid 1px black;
	overflow: scroll;
	position: relative;
	margin: 0;
	padding: 0;
	vertical-align: top;
}

.CreaturesList {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	white-space:nowrap;
}

.chartContainer {
	width: inherit;
	display: table-cell;
	height: inherit;
	background: #368caf;
	padding: 0;
	margin: 0;
}

.HiddenInfoBox {
	display: none;
}

.CreatureListOff {
	text-decoration: line-through;
}

