/*
Hide all of wikipedias
formatting
*/


.mw-editsection, .reference, .references  {
	display: none;
}

.noprint.Inline-Template.Template-Fact,
.hatnote relarticle mainarticle,
#Timeline-row, #toc, #Description,
a[title="e"], .error.mw-ext-cite-error {
	display: none;
}

#aboutTextBox a {
	color: inherit;
	text-decoration: none;
}


.tright {
	float: right;
}

.tleft {
	float: left;
}

div:has(.infobox.biota) {
	height: 0px;
}

.infobox.biota {
	float: right;
}


.thumbcaption {
	font-size: 80%;
	line-height: 80%;
}

.mw-headline {
	padding-top: 10px;
	display: block;
	white-space: normal;      /* CSS3 */   
	white-space: -moz-normal; /* Firefox */    
	white-space: -pre-line;     /* Opera <7 */   
	white-space: -o-normal;   /* Opera 7 */  
	line-height: 0px;
}

.thumb {
	white-space: normal;      /* CSS3 */   
	white-space: -moz-normal; /* Firefox */    
	white-space: -pre-line;     /* Opera <7 */   
	white-space: -o-normal;   /* Opera 7 */    
	padding: 5px;
}