html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

#titleBox {
	padding: 0.005em;
	margin-left: auto;
	margin-right: auto;
	background-color: green;
	text-align: center;
	border: none;
}

#titleBox p {
	font-size: 150%;
	color: white;
}

.PageContent {
	width: inherit;
	height: 93%;
}

.CreaturesBox {
	width: 20.3%;
	background: white;
	height: 80%;
	border: solid 1px black;
	overflow: scroll;
	display: inline-block;
	position: relative;
	margin: 0;
}

.CreaturesList {
	margin: 0;
	width: 100%;
	height: inherit;
}

.chartContainer {
	display: inline-block;
	float: right;
	width: 79.5%;
	height: 80%;
	background: #368caf;
	padding: 0;
	margin: 0;
}
