html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	padding: 0;
	margin: 0;
}

#titleBox {
	padding: 0.005em;
	margin-left: auto;
	margin-right: auto;
	background-color: green;
	text-align: center;
	border: none;
}

#titleBox p {
	font-size: 150%;
	color: white;
}

.CreaturesBox {
	width: 20%;
	background: white;
	height: inherit;
	border: solid 1px black;
	overflow: scroll;
	
	margin-top: auto;
	margin-bottom: auto;
	float: left;
}

.CreaturesList {
	margin: 0;
	width: 100%;
	height: 100%;
}

.chartContainer {
	position: relative;
	left: 20%;
	width: 80%;
	background: blue;
}